.player_main{
  width:600px;
  margin:0 auto;
}
.player_main video{
  width:100%;
  display:block;
}
.player_pad{
  background:#333;
  height:80px;width:100%;
}
.player_process{
  height:20px;width:100%;
  position:relative;
  background:#666;
  cursor:pointer;
}
.buffer_cover,.process_cover{
  position:absolute;
  left:0;top:0;
  height:100%;width:0%;
}
.buffer_cover{
  background:#999;
}
.process_cover{
  background:rgba(0,0,255,0.5);
}
.time_pannel{
  float:left;
  margin:10px 0 0 20px;
  color:#fff;
}
.full_ico{
  float:right;
  margin-top:20px;
}

.pad_cover{height:60px;}
.ico{float:left;color:#fff;margin-top:10px;}
.vol{
  float:right;
  width:80px;height:10px;
  background:#666;
  margin:10px 20px 0 0;
  cursor:pointer;
}
.vol_proc{
  width:0%;height:100%;
  background:rgba(0,0,255,0.5);
}

.full_screen{
	width:100%;
	height:100%;
	position:absolute;
	left:0;top:0;
	background:#000;
}
.full_screen video{ 
	width:auto;
	height:100%;
	margin:0 auto;
}
.full_screen .player_pad{ 
	position:absolute;
	left:0;bottom:0;
	display:none;
}
.full_screen:hover .player_pad{ 
	display:block;
}